@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif
}

.material-icons {
    font-size: 18px;
    vertical-align: -15%
}

body {
    background: #ecf0f3
}

.button,
input[type=text],
input[type=tel],
input[type=date],
input[type=email],
input[type=password],
select,
textarea {
    border: 0;
    outline: 0;
    font-size: 16px;
    border-radius: 16px;
    padding: 16px;
    background-color: #EBECF0;
    text-shadow: 1px 1px 0 #FFF;
}

label {
    display: block;
    margin: 20px 0;
    width: 100%;
}

input[type=text],
input[type=tel],
input[type=date],
input[type=email],
input[type=password],
select,
textarea {
    margin-right: 8px;
    box-shadow: inset 5px 5px 5px #BABECC, inset -5px -5px 5px #FFF;
    width: 100%;
    font-weight: 500;
    box-sizing: border-box;
    transition: all 0.2s ease-in-out;
    appearance: none;
    -webkit-appearance: none;
}

input[type=text]:focus,
input[type=tel]:focus,
input[type=date]:focus,
input[type=email]:focus,
input[type=password]:focus,
textarea:focus,
select:focus {
    box-shadow: inset 1px 1px 2px #BABECC, inset -1px -1px 2px #FFF;
}

.button {
    color: #61677C;
    font-weight: 600;
    box-shadow: -5px -5px 5px #FFF, 5px 5px 5px #BABECC;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.button:active {
    box-shadow: inset 1px 1px 2px #BABECC, inset -1px -1px 2px #FFF;
}

.button.blue {
    color: #03A9F4;
}

.btns {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-top: 20px;
    padding: 0 200px;
}

.button:hover {
    box-shadow: -2px -2px 5px #FFF, 2px 2px 5px #BABECC;
}

.wrapper {
    max-width: 55%;
    min-height: 400px;
    margin: 80px auto;
    padding: 40px 30px 30px 30px;
    background-color: #ecf0f3;
    border-radius: 15px;
    box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #fff;
}

.logo {
    width: 120px;
    margin: auto
}

.logo img {
    width: 100%;
    height: 80px;
    object-fit: cover;
    border-radius: 30%;
    box-shadow: 0px 0px 3px #5f5f5f, 0px 0px 0px 5px #ecf0f3, 8px 8px 15px #a7aaa7, -8px -8px 15px #fff
}

.wrapper .name {
    font-weight: 600;
    font-size: 1.4rem;
    letter-spacing: 1.3px;
    padding: 15px;
    text-align: center;
    color: #555
}

.wrapper .error {
    color: #FF0000;
    text-decoration: none;
    font-size: 0.8rem;
    text-align: center;
}

.wrapper .text {
    text-decoration: none;
    font-size: 1.2rem;
    text-align: center;
    padding: 10px;
}

.wrapper .a {
    text-decoration: none;
    font-weight: 500;
    font-size: 1rem;
    color: #03A9F4
}
.wrapper .a:hover {
    color: #0686db;
}

.table {
    margin: 20px 0;
    width: 100%;
}

.table tr {
    background: #dbdee0;
}

.table tr:not(:first-child):hover {
    background: #c5cad4;
}

.table th {
    background: #03A9F4;
    color: #FFF;
    
}

th,
td {
    padding: 16px 8px;
    border-radius: 5px;
}

@media(max-width: 380px) {
    .wrapper {
        margin: 30px 20px;
        padding: 40px 15px 15px 15px
    }
}